<div class="sidebar-menu w-72 h-screen bg-[#351D15]">
  <div class="sidebar-menu__logo">
    <img class="w-32 mx-auto mb-8 pt-8" src="assets/images/ism_logo.svg" alt="logo ism dakar">
  </div>

  <div class="sidebar-menu__content px-10">
    <h2 class="mb-10 text-[#FAFBF] font-medium"></h2>
    <nav>
      <ul class="nav-menu">
        <li class="nav-menu__link mb-4 hover:bg-[#6c4735] hover:rounded">
          <a routerLink="etudiant" class="flex items-center gap-2 px-2 py-1.5">
            <img src="assets/icons/Rectangle%20125.svg" alt="">
            <span class="text-[#FAFBFF] font-medium">Etudiant</span>
          </a>
        </li>
        <li class="nav-menu__link mb-4 hover:bg-[#6c4735] hover:rounded">
          <a routerLink="absence" class="flex items-center gap-2 px-2 py-1.5">
            <img src="assets/icons/Rectangle%2088.svg" alt="">
            <span class="text-[#FAFBFF] font-medium">Absences</span>
          </a>
        </li>
        <li class="nav-menu__link mb-4 hover:bg-[#6c4735] hover:rounded">
          <a routerLink="retard" class="flex items-center gap-2 px-2 py-1.5">
            <img src="assets/icons/Rectangle%20112.svg" alt="">
            <span class="text-[#FAFBFF] font-medium">Retards</span>
          </a>
        </li>
        <li class="nav-menu__link absolute bottom-0 mb-4 hover:bg-[#6c4735] hover:rounded">
          <button (click)="logout()" class="bg-[#cc7a00] hover:bg-[#a55f00] text-white px-4 py-2 rounded-full flex items-center gap-2">
            <img src="assets/icons/Rectangle%20109.svg" alt=""> <span>Déconnexion</span> 
          </button>
        </li>

      </ul>
    </nav>
  </div>
</div>
