<div class="max-w-md mx-auto bg-white rounded shadow-md p-6 mt-10">
  <h2 class="text-xl font-semibold text-gray-800 mb-4">Détails de la présence</h2>

  <div class="mb-4">
    <p class="text-gray-600"><span class="font-medium">Nom :</span></p>
    <p class="text-gray-600"><span class="font-medium">Prénom :</span></p>
    <p class="text-gray-600"><span class="font-medium">Classe :</span></p>
  </div>

  <div class="mb-4">
    <p class="text-gray-600"><span class="font-medium">Date :</span></p>
    <p class="text-gray-600"><span class="font-medium">Heure :</span></p>
    <p class="text-gray-600">
      <span class="font-medium">Statut :</span>
      <span>
      
      </span>
    </p>
  </div>

  <button (click)="onRedirection()"
    class="mt-4 w-full bg-[#351D15] hover:bg-[#351D15] text-white font-medium py-2 px-4 rounded-lg transition duration-300"
  >
    Retour à la liste
  </button>
</div>
