<div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-6">
  <!-- Filtre par Etat -->
  <div>
    <label class="block text-sm font-semibold mb-1">État</label>
    <div class="flex gap-2 flex-wrap">
      <button
        type="button"
        (click)="onEtatChange('tous')"
        [ngClass]="{
        'bg-[#cc7a00] border-none text-white': selectedEtat === 'tous',
        'bg-white hover:bg-gray-200': selectedEtat !== 'tous'
      }"
        class="px-3 py-1 rounded border border-gray-300 bg-white hover:bg-gray-200"
      >
        Tous
      </button>
      <button
        type="button"
        (click)="onEtatChange('true')"
        [ngClass]="{
        'bg-[#cc7a00] border-none text-white': selectedEtat === 'true',
        'bg-white hover:bg-gray-200': selectedEtat !== 'true'
      }"
        class="px-3 py-1 rounded border border-gray-300 bg-white hover:bg-gray-200"
      >
        Justifiée
      </button>
      <button
        type="button"
        (click)="onEtatChange('false')"
        [ngClass]="{
        'bg-[#cc7a00] border-none text-white': selectedEtat === 'false',
        'bg-white hover:bg-gray-200': selectedEtat !== 'false'
      }"
        class="px-3 py-1 rounded border border-gray-300 bg-white hover:bg-gray-200"
      >
        Non Justifiée
      </button>
    </div>
  </div>

  <!-- Filtre par Date -->
  <div>
    <label class="block text-sm font-semibold mb-1">Date</label>
    <div class="flex gap-2 flex-wrap">
      <input
        class="px-3 py-1 rounded border border-gray-300 bg-white"
        type="date"
        [(ngModel)]="selectedDate"
        (ngModelChange)="emitFilters()"
        name="date" id="date">
    </div>
  </div>

  <!-- Filtre par Cours -->
  <div>
    <label class="block text-sm font-semibold mb-1">Cours</label>
    <select
      [(ngModel)] = "selectedCours"
      (ngModelChange)="emitFilters()"
      class="px-3 py-1 rounded border border-gray-300 bg-white">
      <option value="">— Tous —</option>
      <option *ngFor="let cour of cours" [value]="cour.id">{{ cour.nomCours }}</option>
    </select>
  </div>
</div>
