<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
  <!-- Filtre par Cours -->
  <div>
    <label class="block text-sm font-semibold mb-1">Cours</label>
    <select class="px-3 py-1 rounded border border-gray-300 bg-white">
      <option>Angular</option>
    </select>
  </div>

  <!-- Filtre par Date -->
  <div>
    <label class="block text-sm font-semibold mb-1">Date</label>
    <div class="flex gap-2 flex-wrap">
      <input class="px-3 py-1 rounded border border-gray-300 bg-white" type="date" name="" id="">
    </div>
  </div>

</div>
