<div class="flex items-center justify-between bg-white px-8">
  <div class="text-[#676767] text-medium py-4 text-lg">
    <img src="assets/icons/Rectangle%2092.svg">
  </div>

  <div class="flex items-center gap-4">
    <div class="flex items-center gap-2">
      <img class="mx-auto block w-10 h-10 rounded-full sm:mx-0 sm:shrink-0"
         src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Unknown_person.jpg" alt="" />
      <p class="text-sm font-medium text-black">Administrateur</p>
    </div>
      <img class="mx-auto block h-6 rounded-full sm:mx-0 sm:shrink-0"
           src="assets/icons/Rectangle%2096.svg" alt="" />
  </div>
</div>
