<div class="max-w-2xl mx-auto p-6 bg-white rounded shadow-md space-y-6">
  <div class="flex items-center gap-4">
    <button (click)="onRedirection()" class="text-xl cursor-pointer">⬅️</button>
  <h2 class="text-2xl font-bold text-gray-800">Justificatif d'absence</h2>
  </div>

  <div class="space-y-4">
    <div>
      <label class="block text-sm font-medium text-gray-600">Nom de l'étudiant</label>
      <input type="text" [value]="justificatif?.results?.nom" disabled
             class="w-full mt-1 px-4 py-2 bg-gray-100 border border-gray-300 rounded-md text-gray-600 cursor-not-allowed" />
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-600">Classe</label>
      <input type="text" [value]="justificatif?.results?.classe" disabled
             class="w-full mt-1 px-4 py-2 bg-gray-100 border border-gray-300 rounded-md text-gray-600 cursor-not-allowed" />
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-600">Matricule</label>
      <input type="text" [value]="justificatif?.results?.matricule" disabled
             class="w-full mt-1 px-4 py-2 bg-gray-100 border border-gray-300 rounded-md text-gray-600 cursor-not-allowed" />
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-600">Motif</label>
      <input type="text" [value]="justificatif?.results?.motif" disabled
             class="w-full mt-1 px-4 py-2 bg-gray-100 border border-gray-300 rounded-md text-gray-600 cursor-not-allowed" />
    </div>
  </div>

  <!-- Carrousel -->
  <div class="space-y-2">
    <h3 class="text-lg font-semibold text-gray-700">Pièces jointes</h3>
    <div class="relative w-full overflow-hidden rounded-lg">
      <div class="flex space-x-4 overflow-x-auto overflow-y-hidden snap-x snap-mandatory">
        <img *ngFor="let fileImage of justificatif?.results?.files"
          [src]="fileImage" alt="Justificatif 1"
             class="w-64 h-40 object-cover rounded-lg snap-center cursor-pointer hover:scale-105 transition"
             >
      </div>
    </div>
  </div>

  <div class="flex justify-end space-x-4 pt-4">
    <button class="px-6 py-2 bg-[#EFEFEF] text-black rounded transition">
      Accepter
    </button>
    <button class="px-6 py-2 bg-[#704111] text-white rounded transition">
      Rejeter
    </button>
  </div>

</div>
