<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
  <!-- Filtre par Classe -->
  <div>
    <label class="block text-sm font-semibold mb-1">Classe</label>
    <select
      id="classe"
      class="px-3 py-1 rounded border border-gray-300 bg-white"
      [(ngModel)] = "selectedClasse"
      (ngModelChange)="emitFilters()"
    >
      <option value="">— Tous —</option>
      <option *ngFor="let classe of classes" [value]="classe.id">
        {{ classe.nomClasse }}
      </option>
    </select>
  </div>

  <!-- Filtre par Statut -->
  <div>
    <label class="block text-sm font-semibold mb-1">Statut</label>
    <div class="flex gap-2 flex-wrap">
      <button
        type="button"
        (click)="onStatutChange('tous')"
        [ngClass]="{
        'bg-[#cc7a00] border-none text-white': selectedStatut === 'tous',
        'bg-white hover:bg-gray-200': selectedStatut !== 'tous'
      }"
        class="px-3 py-1 rounded border border-gray-300 bg-white hover:bg-gray-200"
      >
        Tous
      </button>
      <button
        type="button"
        (click)="onStatutChange('true')"
        [ngClass]="{
        'bg-[#cc7a00] border-none text-white': selectedStatut === 'true',
        'bg-white hover:bg-gray-200': selectedStatut !== 'true'
      }"
        class="px-3 py-1 rounded border border-gray-300 bg-white hover:bg-gray-200"
      >
        À jour
      </button>
      <button
        type="button"
        (click)="onStatutChange('false')"
        [ngClass]="{
        'bg-[#cc7a00] border-none text-white': selectedStatut === 'false',
        'bg-white hover:bg-gray-200': selectedStatut !== 'false'
      }"
        class="px-3 py-1 rounded border border-gray-300 bg-white hover:bg-gray-200"
      >
        Pas à jour
      </button>
    </div>
  </div>
</div>
