<table class="w-full">
  <thead>
    <tr>
      <th class="p-2.5 bg-[#EFF2F7] text-black opacity-70 text-left">Date</th>
      <th class="p-2.5 bg-[#EFF2F7] text-black opacity-70 text-left">Type</th>
      <th class="p-2.5 bg-[#EFF2F7] text-black opacity-70 text-left">Matricule</th>
      <th class="p-2.5 bg-[#EFF2F7] text-black opacity-70 text-left">Nom</th>
      <th class="p-2.5 bg-[#EFF2F7] text-black opacity-70 text-left">Prenom</th>
      <th class="p-2.5 bg-[#EFF2F7] text-black opacity-70 text-left">Cours</th>
      <th class="p-2.5 bg-[#EFF2F7] text-black opacity-70 text-left">Action</th>
    </tr>
  </thead>
  <tbody>
     <tr *ngFor="let absence of presences" class="mb-2">
      <td class="p-2.5">{{ absence.date }}</td>
       <td class="p-2.5">{{ absence.typePresence }}</td>
      <td class="p-2.5">{{ absence.etudiant?.matricule }}</td>
       <td class="p-2.5">{{ absence.etudiant?.nom }}</td>
      <td class="p-2.5">{{ absence.etudiant?.prenom }}</td>
      <td class="p-2.5">{{ absence.cours?.nomCours }}</td>
      <td class="p-2.5">
        <button (click)="onViewDetails()" class="bg-[#351D15] text-white rounded-sm text-sm p-2">Voir Détails</button>
      </td>
    </tr>
  </tbody>
</table>
